In [42]:
import os
import glob
from functools import reduce

In [43]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns

# display plots in the notebook
%matplotlib inline

# increase default figure and font sizes for easier viewing
plt.rcParams['figure.figsize'] = (8, 6)
plt.rcParams['font.size'] = 14

## Analysis
---

Description: This is a test for broker evaluation with varying number of subscribers and publishers. The VM hosting the broker is pinned to a sinlge core (core 9), and the broker process -- along with all its threads -- is pinned to a single core (core 3). The interval is set to 1ms (e.g., no. of pubs * 1000rps).

In [44]:
results_dir = "../../../results/broker/vms/"
date_time_list = ["20170731121808.890320", "20170801121325.569594"]

cols = ['%cpu', '%mem']

In [45]:
broker_data_dict = {}

for date_time in date_time_list:
    for i in glob.glob(results_dir + date_time + "/broker_stats_with__*"):
        key = i.split('__')[1].split('_')[1] + "x" + i.split('__')[2].split('_')[1]        
        broker_data_dict[key] = pd.read_csv(i, sep=' ', header=None, na_filter=False, names = cols)

# sorted(broker_data_dict.keys())

In [46]:
kvm_data_dict = {}

for date_time in date_time_list:
    for i in glob.glob(results_dir + date_time + "/kvm_stats_with__*"):
        key = i.split('__')[1].split('_')[1] + "x" + i.split('__')[2].split('_')[1]        
        kvm_data_dict[key] = pd.read_csv(i, sep=' ', header=None, na_filter=False, names = cols)

# sorted(kvm_data_dict.keys())

In [47]:
vcpu_usage = pd.DataFrame()

cols = [1, 2, 4, 8, 16, 32, 64]

vcpu_usage['pubs'] = cols

for col in cols:
    row = []
    for i in vcpu_usage['pubs']:
        if str(i) + "x" + str(col) in broker_data_dict:
            row += [broker_data_dict[str(i) + "x" + str(col)]['%cpu'].mean()]
        else:
            row += [np.nan]
    vcpu_usage['%vcpu' + "-subs:" + str(col)] = row

vcpu_usage = vcpu_usage.set_index('pubs')
    
vcpu_usage

,%vcpu-subs:1,%vcpu-subs:2,%vcpu-subs:4,%vcpu-subs:8,%vcpu-subs:16,%vcpu-subs:32,%vcpu-subs:64
pubs,,,,,,,
1,6.145455,6.481818,7.190909,8.136364,11.172727,16.500000,27.800000
2,9.172727,11.426667,12.800000,15.320000,19.518182,29.361538,49.304545
4,16.781818,20.008333,22.218182,26.527273,35.490909,53.790909,84.383333
8,30.872727,35.109091,38.854545,46.872727,62.909091,88.225000,NaN
16,56.845455,62.236364,72.863636,82.263636,99.733333,NaN,NaN
32,99.972727,98.316667,100.018182,NaN,NaN,NaN,NaN
64,99.836364,99.872727,NaN,NaN,NaN,NaN,NaN

In [49]:
pcpu_usage = pd.DataFrame()

cols = [1, 2, 4, 8, 16, 32, 64]

pcpu_usage['pubs'] = cols

for col in cols:
    row = []
    for i in pcpu_usage['pubs']:
        if str(i) + "x" + str(col) in kvm_data_dict:
            row += [kvm_data_dict[str(i) + "x" + str(col)]['%cpu'].mean()]
        else:
            row += [np.nan]
    pcpu_usage['%pcpu' + "-subs:" + str(col)] = row

pcpu_usage = pcpu_usage.set_index('pubs')
    
pcpu_usage

,%pcpu-subs:1,%pcpu-subs:2,%pcpu-subs:4,%pcpu-subs:8,%pcpu-subs:16,%pcpu-subs:32,%pcpu-subs:64
pubs,,,,,,,
1,11.900000,12.400000,12.945455,13.781818,16.609091,22.272727,33.890909
2,15.681818,18.764286,19.968750,23.000000,27.036364,36.258333,55.831818
4,23.445455,28.852174,30.936364,35.663636,43.854545,61.600000,87.172727
8,38.572727,45.390909,48.890909,56.409091,71.936364,91.654545,NaN
16,63.372727,70.200000,79.200000,87.436364,99.927273,NaN,NaN
32,99.945455,99.918182,99.890909,NaN,NaN,NaN,NaN
64,98.618182,100.000000,NaN,NaN,NaN,NaN,NaN

In [50]:
vmem_usage = pd.DataFrame()

cols = [1, 2, 4, 8, 16, 32, 64]

vmem_usage['pubs'] = cols

for col in cols:
    row = []
    for i in vmem_usage['pubs']:
        if str(i) + "x" + str(col) in broker_data_dict:
            row += [broker_data_dict[str(i) + "x" + str(col)]['%mem'].mean()]
        else:
            row += [np.nan]
    vmem_usage['%vmem' + "-subs:" + str(col)] = row

vmem_usage = vmem_usage.set_index('pubs')
    
vmem_usage

,%vmem-subs:1,%vmem-subs:2,%vmem-subs:4,%vmem-subs:8,%vmem-subs:16,%vmem-subs:32,%vmem-subs:64
pubs,,,,,,,
1,0.054545,0.1,0.1,0.1,0.1,0.1,0.2
2,0.081818,0.1,0.1,0.1,0.1,0.1,0.2
4,0.100000,0.2,0.1,0.1,0.1,0.1,0.2
8,0.100000,0.1,0.1,0.1,0.1,0.1,NaN
16,0.100000,0.1,0.1,0.1,0.1,NaN,NaN
32,0.100000,0.1,0.1,NaN,NaN,NaN,NaN
64,0.100000,0.1,NaN,NaN,NaN,NaN,NaN

In [51]:
pmem_usage = pd.DataFrame()

cols = [1, 2, 4, 8, 16, 32, 64]

pmem_usage['pubs'] = cols

for col in cols:
    row = []
    for i in pmem_usage['pubs']:
        if str(i) + "x" + str(col) in kvm_data_dict:
            row += [kvm_data_dict[str(i) + "x" + str(col)]['%mem'].mean()]
        else:
            row += [np.nan]
    pmem_usage['%pmem' + "-subs:" + str(col)] = row

pmem_usage = pmem_usage.set_index('pubs')
    
pmem_usage

,%pmem-subs:1,%pmem-subs:2,%pmem-subs:4,%pmem-subs:8,%pmem-subs:16,%pmem-subs:32,%pmem-subs:64
pubs,,,,,,,
1,4.6,4.6,4.6,4.6,4.6,4.6,4.6
2,4.6,5.5,5.5,5.5,5.5,5.5,5.5
4,4.6,5.5,5.5,5.5,5.5,5.5,5.5
8,4.6,5.7,5.7,5.7,5.7,5.7,NaN
16,4.6,5.7,5.7,5.7,5.7,NaN,NaN
32,4.6,5.7,5.7,NaN,NaN,NaN,NaN
64,4.6,5.7,NaN,NaN,NaN,NaN,NaN